@charset "UTF-8";

:root {
    --principal: #FF8C00;
    --segunda: #f4f7f6;
    --terceira: #ffffff;
    --text-cor: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--segunda);
    color: var(--text-cor);
    line-height: 1.6;
    margin: 0;
}

/*1 Precisamos dizer que o header é o ponto de referencia*/
header {
    background-color: var(--principal);
    color: var(--terceira);
    padding: 30px 20px;
    text-align: center;
    position: relative;
}

.voltar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); /*centraliza verticalmente no header*/
    margin: 0px;
}

.voltar img {
    width: 40px;
    transition: all 0.3s ease;
}

.voltar img:hover{
    opacity: 1;
    transform: scale(1.1);
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

/*Barra de Pesquisa*/
.search-container {
    margin-bottom: 30px;
}

#searchInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}

#searchiInput:focus{
    border-color: var(--principal);
}

/* Seções e Categorias */
.categoria {
    background-color: var(--terceira);
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categoria h3 {
    color: var(--principal);
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 0;
}

.item {
    background-color: #fafafa;
    border-left: 4px solid var(--principal);
    margin: 15px 0;
    padding: 15px;
    border-radius: 4px;
}

.item h4 {
    margin: 0 0 10px 0;
    color: #444;
}

.item p {
    margin: 0;
    font-size: 0.95em;
}

/* Classe para esconder itens que não condizem com a busca */
.hide {
    display: none !important;
}