@charset "UTF-8";

/**{
    box-sizing: border-box;
}*/
header {
    padding: 15px 10px; /*mais baixo para ganhar espaço de tela*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 24px;
    margin: 0;
    width: 80%;
}
header h2 {
    font-size: 20px;
}

.voltar {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.voltar img {
    width: 27px;
}

main {
    padding: 0 10px; /*menos margem as laterais o mobile*/
    margin-top: 15px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    font-size: 14px;
}

.categoria {
    padding: 15px; /*mais compacto*/
    margin-bottom: 15px;
}

.categoria h3 {
    font-size: 18px;
}

.item {
    padding: 12px;
}

.item h4 {
    font-size: 16px;
}

.item p {
    font-size: 10px;
}

p {
  font-size: 15px;
}

section {
    justify-content: left;
}
section ul {
    flex-flow: column nowrap;
}
section h1 {
    flex-basis: 50px;
}
section ul li {
    width: 90vw;
}

