@charset "UTF-8";

* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    max-width: 850px;
    align-content: center;
}
:root {
    --principal: #FF8C00;
    --segunda: #1f5895;  /*#1a3c60*/
    --terceira: #FFFFFF;
}
body {
    background-color: var(--segunda);
    font-size: 25px;
    text-align: justify;
}

h1 {
    padding-top: 15px;
    text-align: center;
    color: var(--principal);
}
h2 {
    color: var(--principal);
    margin: 20px;
}
img {
    text-align: left;
    width: 40px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
ul li {
    width: 45%;
    margin-bottom: 20px;
    background-color: var(--principal);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
ul li a {
    text-decoration: none;
    color: var(--terceira);
    display: block;
}
ul li:hover {
    background-color: var(--segunda);
    color: var(--principal);
    border: 3px solid var(--terceira);
    box-shadow: 1px 1px 7px var(--terceira);
    cursor: pointer;
    transition: border 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;  
}
header p {
    color: var(--terceira);
    margin: 10px;
}
header h2 {
    font-size: 33px;
}
#principal {
    font-size: 35px;
}